@import './lib/all';

$breakpoints: (small: 576px, medium: 768px, large:992px, wide:1200px);

$color-primary: #5F2EEA;
$color-primary-light: #D5CBF1;
$color-primary-dark: #401E9E;
$color-secondary: #548235;
$color-gray: #939597;
$color-gray-light: #DFDFDF;

