@import "utils";
.footer {
    background: white;
    height: 10rem;
    margin: auto 100px;

    .divider {
        background: $color-gray;
        height: 0.05rem;
    }
    .footer-contents {
        display: flex;
        .sns-link {
            margin-top: 1rem;
            margin-left: auto;
            display: flex;
            .notion {
                width: 32px;
                height: 32px;
                background-size: contain;
                background-image: url("./notion.png");
            }
            .github {
                margin-left: 0.2rem;
                width: 32px;
                height: 32px;
                background-size: contain;
                background-image: url("./github.png");
            }
        }
    }
}
