# Default ignored files
/shelf/
/workspace.xml
src/main/resources/application.properties
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

../.idea
